@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

/* a:hover {
	border-bottom: 2px solid orange;
} */

a.active {
	border-bottom: 2px solid orange;
}

.dark {
	background-color: black;
	color: white;
}

.imgss {
	width: 320px;
	height: 320px;
	border-radius: 50%;
}
