@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
}

html,
body {
	min-height: 100vh;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

a.active {
	border-bottom: 2px solid orange;
}
a.disabled {
	border-bottom: 2px solid transparent;
}

.dark {
	background-color: black;
	color: white;
}
